<style>
body{
    margin: 0;
}
.container{
    display: flex;
}

.box11{
    flex-grow: 1;
}
.box2{
    flex-grow: 8;
}
.box3{
    flex-grow: 1;
    position: relative;
} 

.box11 input{
    width: 100px;
    padding: 10px;
}

.box2 h1{
    margin: 0;
    text-align: center;
    font-size: 50px;
    color: #082c74;
}

.box3 img{
    float: right;
} 

.box3 img:hover{
    cursor: pointer;
} 

#subbox3{
    position: absolute;
    top: 50%;
    left: -15%;
    padding: 10%;
    box-shadow: 0.75px 0.75px 4px 0.75px #949494;  
    border-radius: 2px;
    z-index: 10;
    background-color: white;
}
.show{
    display: none;
}


#subbox3 a{
    padding: 2px;
}

.gamestarted{
    position: relative;
    padding-top:    16px;
    padding-bottom: 16px;
}

.gamestarting{
 position: absolute;
 top: 0%;
 /*top: 50%;
 right: 50%;*/
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
}

.gamestarting button{
 background-color: #00b9f5;
 color: white;
 border: none;
 padding: 15px;
 margin-top: 20%;
 font-size: 25px;
}

.gamestarting button:hover{
 cursor: pointer;
}

.gamestarting h2{
 color: #00b9f5;
}


.box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subbox1,
.subbox2,
.subbox3,
.subbox4,
.subbox5,
.subbox6{
    background-color: #082c74;
    width:  430px;
    height: 270px;
    margin: 3px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #082c74;;
}

.subbox1:hover,
.subbox2:hover,
.subbox3:hover,
.subbox4:hover,
.subbox5:hover,
.subbox6:hover{
    cursor: pointer;
}


#hquestion1 h1, 
#hquestion2 h1,
#hquestion3 h1, 
#hquestion4 h1,
#hquestion5 h1, 
#hquestion6 h1{
   text-align: center;
}

#question1 button, 
#question2 button,
#question3 button, 
#question4 button,
#question5 button, 
#question6 button{
   width: 150px;
   padding: 5px;
   margin: 2px;
   background-color: #00b9f5;
   color: white;
   border: none;
   border-radius: 3px;
}

#question1 input, 
#question2 input,
#question3 input, 
#question4 input,
#question5 input, 
#question6 input{
   padding: 5px;
   border: none;
   border-radius: 3px;
}

#question1 input:focus, 
#question2 input:focus,
#question3 input:focus, 
#question4 input:focus,
#question5 input:focus, 
#question6 input:focus{
    outline: none;
}

#question1,
#question2,
#question3,
#question4,
#question5,
#question6{
    display: none;
}

#question1 p,
#question2 p,
#question3 p,
#question4 p,
#question5 p,
#question6 p{
    color: #00b9f5;
}

.finishgame button{
    color: white;
    background-color: red;
    border: none;
    padding: 10px;
    margin-left: 5px;
}

#opencart1{
    display: none;
    position: fixed;
    z-index: 8;
    right: 0;
    top: 0;
    width:  100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(6, 0, 0, 0.5);
    background-color: rgba(5, 3, 3, 0.5);
    padding: 8px;
}

#opencart2{
    display: none;
    position: fixed;
    z-index: 8;
    right: 0;
    top: 0;
    width:  100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(3, 0, 0, 0.5);
    padding: 8px;
}

#opencart3{
    display: none;
    position: fixed;
    z-index: 8;
    right: 0;
    top: 0;
    width:  100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(3, 0, 0, 0.5);
    padding: 8px;
}

#opencart4{
    display: none;
    position: fixed;
    z-index: 8;
    right: 0;
    top: 0;
    width:  100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(3, 0, 0, 0.5);
    padding: 8px;
}

#opencart5{
    display: none;
    position: fixed;
    z-index: 8;
    right: 0;
    top: 0;
    width:  100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(3, 0, 0, 0.5);
    padding: 8px;
}

#opencart6{
    display: none;
    position: fixed;
    z-index: 8;
    right: 0;
    top: 0;
    width:  100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(3, 0, 0, 0.5);
    padding: 8px;
}

.imgcont{
    position: relative;
}

.imgcont img{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}



.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.clues{
    display: flex;
    justify-content: center;
}

.subclues{
    /*background-color: #00b9f5;*/
    width: 50%;
}
.subclues p{
   font-size: 18px;
   color: white;
   font-weight: bolder;
}

</style>

<% include('../layouts/header.ejs') %>

    <!--heading-->
        <div class="container">
            <div class="box11"> <center> <p>Score: <span id="score">00</span></p> </center></div>
            <div class="box2"> <h1>Treasure Hunt</h1> </div>
            <div class="box3">
                <img src="../image/user-logo.png" alt="user" style="width: 40px;" onclick="myfunc()">
                <div id="subbox3" class="show">
                    <img src="../image/user-logo.png" alt="user" style="width: 100px;"> <br>

                    <center>
                        <a href="/rankdashboard" onclick="over()">Rank Dashboard</a><br>
                        <a href="/logout" onclick="over()">Logout</a>
                    </center>
                </div>
            </div>
        </div>
    <!--heading-->

    <div class="gamesection">
        <div class="gamestarted">
            <!--main body-->
                <div class="box1">
                    <div class="subbox1" onclick="myfunc1()" id="subboxx1">
                        <div id="hquestion1">
                            <img src="../image/buzz.png" alt="buzz">
                            <h1>Click to View</h1>
                        </div>
                        <div id="question1">
                            <center class="imgcont" onclick="openimg(1)">
                                <img src="../image/ques1.jpeg" alt="ques1" style="width:100%; height: 100%;">
                                <p style="margin: 0; color: white;" class="centered"> <b>Click on image for full view.</b> </p>
                            </center>
                            
                            <div id="opencart1">
                                <center>
                                    <h3 style="float: right;" onclick ="closeimg(1)">X</h3>
                                    <img src="../image/ques1.jpeg" alt="ques1" style="width:50%; height: 50%;"> <br>
                                </center>
                                    <div class="clues">
                                        <div class="subclues">  
                                            <p>Clue 1: With so many different marketing and sales platforms available to companies, it's no wonder that marketers.</p>
                                            <p>Clue 2: Thos bigdhfjgphjkdfhpgdbn ouighufdj i boghd.</p>
                                            <p>Clue 3: Thos bigdhfjgpjhdfkhvhjkdfhpgdbn ouighufdj i boghd.</p>
                                            <p>Clue 4: Thos bigdhfjgphjkdghhjyhtfhpgdbn ouighufdj i boghd.</p>
                                            <p>Clue 5: Thos bigdhfjgphjkjyytuiyttiyttohbdfkjdfhpgdbn ouighufdj i boghd.</p>
                                        </div> 
                                    </div>
                                <center>         
                                    <input type="text" name="ans1" id="ans1">
                                    <button onclick="checkans(1)">Submit</button>
                                    <br><br>
                                    <b> <p id="desc1"></p> </b>
                                </center>        
                            </div>
                        </div>
                    </div>
                    <div class="subbox2" onclick="myfunc2()" id="subboxx2">
                        <div id="hquestion2">
                            <img src="../image/minion.png" alt="buzz">
                            <h1>Click to View</h1>
                        </div>
                        <div id="question2">
                            <center class="imgcont" onclick="openimg(2)">
                                <img src="../image/ques2.jpeg" alt="ques2" style="width:100%; height: 100%;">
                                <p style="margin: 0;color: white;" class="centered"> <b>Click on image for full view.</b> </p>
                            </center>
                            <div id="opencart2">
                                <center>
                                    <h3 style="float: right;" onclick ="closeimg(2)">X</h3>
                                    <img src="../image/ques2.jpeg" alt="ques2" style="width:50%; height: 50%;"> <br>
                                </center>
                                <div class="clues">
                                    <div class="subclues">  
                                        <p>Clue 1: Thos bigdhfjgphjkdhtgutyufhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 2: Thos bigdhfjgphjkdfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 3: Thos bigdhfjgpjhdfkhvhjkdfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 4: Thos bigdhfjgphjkdghhjyhtfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 5: Thos bigdhfjgphjkjyytuiyttiyttohbdfkjdfhpgdbn ouighufdj i boghd.</p>
                                    </div> 
                                </div>
                                <center> 
                                    <input type="text" name="ans2" id="ans2">
                                    <button onclick="checkans(2)">Submit</button>
                                    <br><br>
                                    <b> <p id="desc2"></p> </b>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="subbox3" onclick="myfunc3()" id="subboxx3">
                        <div id="hquestion3">
                            <img src="../image/krabs.png" alt="buzz">
                            <h1>Click to View</h1>
                        </div>
                        <div id="question3">
                            <center class="imgcont" onclick="openimg(3)">
                                <img src="../image/ques3.jpeg" alt="ques3" style="width:100%; height: 100%;">
                                <p style="margin: 0; color: white;" class="centered"> <b>Click on image for full view.</b> </p>
                            </center>
                            <div id="opencart3">
                                <center>
                                    <h3 style="float: right;" onclick ="closeimg(3)">X</h3>
                                    <img src="../image/ques3.jpeg" alt="ques3" style="width:50%; height: 50%;"> <br>
                                </center>
                                <div class="clues">
                                    <div class="subclues">  
                                        <p>Clue 1: Thos bigdhfjgphjkdhtgutyufhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 2: Thos bigdhfjgphjkdfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 3: Thos bigdhfjgpjhdfkhvhjkdfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 4: Thos bigdhfjgphjkdghhjyhtfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 5: Thos bigdhfjgphjkjyytuiyttiyttohbdfkjdfhpgdbn ouighufdj i boghd.</p>
                                    </div> 
                                </div>
                                <center>     
                                    <input type="text" name="ans3" id="ans3">
                                    <button onclick="checkans(3)">Submit</button>
                                    <br><br>
                                    <b> <p id="desc3"></p> </b>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="subbox4" onclick="myfunc4()" id="subboxx4">
                        <div id="hquestion4">
                            <img src="../image/spongebob.png" alt="buzz">
                            <h1>Click to View</h1>
                        </div>
                        <div id="question4">
                            <center class="imgcont" onclick="openimg(4)">
                                <img src="../image/ques4.jpeg" alt="ques4" style="width:100%; height: 100%;">
                                <p style="margin: 0;color: white;" class="centered"> <b>Click on image for full view.</b> </p>
                            </center>
                            <div id="opencart4">
                                <center>
                                    <h3 style="float: right;" onclick ="closeimg(4)">X</h3>
                                    <img src="../image/ques4.jpeg" alt="ques4" style="width:50%; height: 50%;"> <br>
                                </center>
                                <div class="clues">
                                    <div class="subclues"> 
                                        <p>Clue 1: Thos bigdhfjgphjkdhtgutyufhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 2: Thos bigdhfjgphjkdfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 3: Thos bigdhfjgpjhdfkhvhjkdfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 4: Thos bigdhfjgphjkdghhjyhtfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 5: Thos bigdhfjgphjkjyytuiyttiyttohbdfkjdfhpgdbn ouighufdj i boghd.</p>
                                    </div> 
                                </div>
                                <center> 
                                    <input type="text" name="ans4" id="ans4">
                                    <button onclick="checkans(4)">Submit</button>
                                    <br><br>
                                    <b> <p id="desc4"></p> </b>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="subbox5" onclick="myfunc5()" id="subboxx5">
                        <div id="hquestion5">
                            <img src="../image/scooby.png" alt="buzz">
                            <h1>Click to View</h1>
                        </div>
                        <div id="question5">
                            <center class="imgcont" onclick="openimg(5)">
                                <img src="../image/ques5.jpeg" alt="ques5" style="width:100%; height: 100%;">
                                <p style="margin: 0; color: white;" class="centered"> <b>Click on image for full view.</b> </p>
                            </center>
                            <div id="opencart5">
                                <center>
                                    <h3 style="float: right;" onclick ="closeimg(5)">X</h3>
                                    <img src="../image/ques5.jpeg" alt="ques5" style="width:50%; height: 50%;"> <br>
                                </center>
                                <div class="clues">
                                    <div class="subclues">   
                                        <p>Clue 1: Thos bigdhfjgphjkdhtgutyufhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 2: Thos bigdhfjgphjkdfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 3: Thos bigdhfjgpjhdfkhvhjkdfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 4: Thos bigdhfjgphjkdghhjyhtfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 5: Thos bigdhfjgphjkjyytuiyttiyttohbdfkjdfhpgdbn ouighufdj i boghd.</p>
                                    </div> 
                                </div>
                                <center>     
                                    <input type="text" name="ans5" id="ans5">
                                    <button onclick="checkans(5)">Submit</button>
                                    <br><br>
                                    <b> <p id="desc5"></p> </b>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="subbox6" onclick="myfunc6()" id="subboxx6">
                        <div id="hquestion6">
                            <img src="../image/popeye.png" alt="buzz">
                            <h1>Click to View</h1>
                        </div>
                        <div id="question6">
                            <center class="imgcont" onclick="openimg(6)">
                                <img src="../image/ques6.jpeg" alt="ques6" style="width:100%; height: 100%;">
                                <p style="margin: 0; color: white;" class="centered"> <b>Click on image for full view.</b> </p>
                            </center>
                            <div id="opencart6">
                                <center>
                                    <h3 style="float: right;" onclick ="closeimg(6)">X</h3>
                                    <img src="../image/ques6.jpeg" alt="ques6" style="width:50%; height: 50%;"> <br>
                                </center>
                                <div class="clues">
                                    <div class="subclues">  
                                        <p>Clue 1: Thos bigdhfjgphjkdhtgutyufhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 2: Thos bigdhfjgphjkdfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 3: Thos bigdhfjgpjhdfkhvhjkdfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 4: Thos bigdhfjgphjkdghhjyhtfhpgdbn ouighufdj i boghd.</p>
                                        <p>Clue 5: Thos bigdhfjgphjkjyytuiyttiyttohbdfkjdfhpgdbn ouighufdj i boghd.</p>
                                    </div> 
                                </div>
                                <center>   
                                    <input type="text" name="ans6" id="ans6">
                                    <button onclick="checkans(6)">Submit</button>
                                    <br><br>
                                    <b> <p id="desc6"></p> </b>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            <!--main body-->

            <!--finish game-->
                <div class="finishgame">

                    <form action="/edit" method="post">
                        <input type="hidden" name="hidscore" id="hidscore" value="0">
                        <button onclick="myfucnendgame()"> <b>Finish Game</b> </button>
                    </form>

                </div>
            <!--finish game-->
            
            <div class="gamestarting" id ="startgame">
                <center>
                    <button onclick="myfucnstartgame()">Start the game</button>
                    <!--<h2>Instruction: </h2>-->
                </center>
            </div>
        </div>
    </div>
    

<% include('../layouts/footer.ejs') %>

<script>
    window.addEventListener('beforeunload',()=>{
        event.preventDefault();
        event.returnValue = "";
    });

    function myfunc(){
        document.getElementById("subbox3").classList.toggle("show");
    }

    function myfucnstartgame(){
        document.getElementById("startgame").style.display = "none";
        localStorage.setItem("ansdb1", "shikhar1");
        localStorage.setItem("ansdb2", "shikhar2");
        localStorage.setItem("ansdb3", "shikhar3");
        localStorage.setItem("ansdb4", "shikhar4");
        localStorage.setItem("ansdb5", "shikhar5");
        localStorage.setItem("ansdb6", "shikhar6");

        localStorage.setItem("abc1", "0");
        localStorage.setItem("abc2", "0");
        localStorage.setItem("abc3", "0");
        localStorage.setItem("abc4", "0");
        localStorage.setItem("abc5", "0");
        localStorage.setItem("abc6", "0");
    }

    function myfucnendgame(){
        localStorage.clear();
        window.location.reload();
    }

    function over(){
        localStorage.clear();
        //window.location.reload();
    }

    function myfunc1(){
        document.getElementById("question1").style.display = "block";
        document.getElementById("hquestion1").style.display = "none";
        document.getElementById("subboxx1").style.backgroundColor = "white";
        document.getElementById("subboxx1").style.borderColor = "#00b9f5";
    }

    function myfunc2(){
        document.getElementById("question2").style.display = "block";
        document.getElementById("hquestion2").style.display = "none";
        document.getElementById("subboxx2").style.backgroundColor = "white";
        document.getElementById("subboxx2").style.borderColor = "#00b9f5";
    }

    function myfunc3(){
        document.getElementById("question3").style.display = "block";
        document.getElementById("hquestion3").style.display = "none";
        document.getElementById("subboxx3").style.backgroundColor = "white";
        document.getElementById("subboxx3").style.borderColor = "#00b9f5";
    }

    function myfunc4(){
        document.getElementById("question4").style.display = "block";
        document.getElementById("hquestion4").style.display = "none";
        document.getElementById("subboxx4").style.backgroundColor = "white";
        document.getElementById("subboxx4").style.borderColor = "#00b9f5";
    }

    function myfunc5(){
        document.getElementById("question5").style.display = "block";
        document.getElementById("hquestion5").style.display = "none";
        document.getElementById("subboxx5").style.backgroundColor = "white";
        document.getElementById("subboxx5").style.borderColor = "#00b9f5";
    }

    function myfunc6(){
        document.getElementById("question6").style.display = "block";
        document.getElementById("hquestion6").style.display = "none";
        document.getElementById("subboxx6").style.backgroundColor = "white";
        document.getElementById("subboxx6").style.borderColor = "#00b9f5";
    }
    
    function openimg(a){
        let text1img = "opencart";
        let resultimg = text1img.concat(a);
        document.getElementById(resultimg).style.display="block";
    }

    function closeimg(a){
        let text1img = "opencart";
        let resultimg = text1img.concat(a);
        document.getElementById(resultimg).style.display="none";
    }

    function checkans(a){

        let text1 = "ans";
        let result = text1.concat(a);
        var answer = document.getElementById(result).value;
        var answer = answer.toLowerCase();

        
        let text2 = "ansdb";
        let result2 = text2.concat(a);
        let answerdb = localStorage.getItem(result2);

        let text3 = "desc";
        let result3 = text3.concat(a);

        let text4 = "abc";
        let result4 = text4.concat(a);
        let count = localStorage.getItem(result4);

        if(answer == answerdb){
            if(Number(count) < 1){
                document.getElementById(result3).innerHTML = "Correct &#10004;";
                document.getElementById(result3).style.color="#00ff00";
                let score = localStorage.getItem("totalscore");
                value = 100+Number(score);
                document.getElementById("score").innerHTML = value;
                document.getElementById("hidscore").value = value;
                localStorage.setItem("totalscore", value);
            }
        }
        else{
            if(Number(count) < 1){
                document.getElementById(result3).innerHTML = "Incorrect &#10006; , Try once more.";
                document.getElementById(result).value = "";
                document.getElementById(result3).style.color="#ff1a1a";
            }
            else{
                document.getElementById(result3).innerHTML = "Answer: " + answerdb;
                document.getElementById(result3).style.color="#00ff00";
            }  
        }

        count++;
        localStorage.setItem(result4 , count);
        
    }

  /*  window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
    
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
    }*/
</script>
