

<link rel="stylesheet" href="../css/login.css">
<% include('../layouts/header.ejs') %>

  <div class="container">
    <div class="items">
      <center>
        <h1>Treasure Hunt Login</h1>
        <hr>

      
        <%
        if(typeof message !== 'undefined'){
          %>
          <p id="warning"><%= message %></p>
          <%
        }
        else{
          %>
          <p></p>
          <%
        }
        %>

      
        <form action="/login" method="post">
          <input type="email" name="email" id="" placeholder="Enter your email">
          <br><br>
          <input type="password" name="password" id="" placeholder="Enter your password">
          <br><br><br>
          <input type="submit" value="Login" id="subbtn">
        </form>
      
      </center>

    </div>
  </div>



<% include('../layouts/footer.ejs') %>